

<div class = "my-ejs">
<h2 class="country-name"><%= country.name %></h2>
<h2 class="country"><%= country.region %><h2>
 <h2 class="country"><%= country.nativeName %></h2>
<h2 class="country"><%= country.population %></h2>
<h2 class="country"><%= country.code %></h2>
<img src="<%= country.flag %>" class = "countryPic"/>
</div>
